html,
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans",sans-serif;
    background: #181a1b;
    color: #d3cfc9;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    color: #ee393f;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}
